.App {
  text-align: center;
}

header {
  width: 100%;
  color: white;
  padding: 1rem 0;
  align-items: center;
  margin-block-end: 2rem;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
}

.field {
  width: 3rem;
  height: 3rem;
  color: #555;
  font-size: 2rem;
  text-align: center;
}

.field[readonly] {
  color: #000;
}

button {
  width: 35em;
  height: 50px;
  color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  margin-block-start: 25px;
  background-color: black;
}

footer {
  color: white;
  align-items: center;
  padding-block-end: 1px;
  margin-block-start: 2rem;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
}

footer p, footer i {
  font-size: 1.3rem;
  display: inline-block;
  margin-inline-start: 10px;
}

@media (max-width: 700px) {
  .field {
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
  }
}